h2{
	text-shadow: 1px 1px 1px #000000;
	color:#6495ED;
	margin-top: 0px;
}

table{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}
table tr:nth-child(odd) {
	background-color: #B8DBFF;
}
table tr:hover td{
	background-color:whitesmoke;
	font-weight: bold;
}
#classes th:first-child {
    border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
}
#classes th:last-child {
    border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
}
#classes tr:last-child td:first-child {
    border-radius: 0 0 0 5px ;
    -moz-border-radius:0 0 0 5px;
    -webkit-border-radius:0 0 0 5px;
}
#classes tr:last-child td:last-child {
    border-radius: 0 0 5px 0 ;
    -moz-border-radius: 0 0 5px 0;
    -webkit-border-radius:0 0 5px 0;
}
#classes th{
	text-align:center;
	background-color:#6495ED;
	padding: 5px;
	color:#FFFFFF;

}
#classes td{

	padding:5px;
	text-align:center;

}
#button{ 
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	color:#FFFFFF;
}
#button a{
	color:#FFFFFF;
	text-decoration:none;
}
.btn-info{
	border-color:#6495ED;
	background-color:#6495ED;
}
.btn-info:hover{
	border-color:#B8DBFF;
	background-color:#B8DBFF;
}